@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #e9e7e6;
}


/* MENU */
.container, .container-menu{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #e8e5e5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 100%;

}

.container-menu>img{
    object-fit: fill;
    height: 100%;
}

.container-menu>nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: #e8e5e5;
    
}

nav>ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-menu>nav>ul>li{
    padding: 0px 5px;
    margin: 0px 1vh;
    cursor: pointer;
    color: #424242;
}
nav>ul:hover{
    color: #000000;
}
/* MENU */


article{
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;
}

/* Lista de cards */

.produtos>ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

.card-itens{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
    background-color: #e1e3e0;
    max-width: 250px;
    padding: 10px;
    border: solid 3px transparent;
    height: 400px;
    border-radius: 7px;
    
}

.card-itens:hover{
    border: solid 3px #2e245e;
    transition: 0.9s;
}

.card-itens>img{
    width: auto;
    margin: 0 auto;
    max-width: 250px;
    height: 100%;
    max-height: 175px;
    object-fit: cover;
}

.tipo-produto{
    background-color: #2e245e;
    width: 40%;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 2px;
}

.card-itens>h3{
    font-size: 18px;
    margin: 5px 0;
}

.card-itens>p{
   font-size: 12px;
}
.preco{
    margin-bottom: 10px;
    color: #2e245e;
}
.adiciona-carrinho{
    background: #2e245e;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}

.adiciona-carrinho:hover{
    filter: brightness(110%);
}


/* carrinho de compras sem itens*/
#local-pesquisa{
    width: 60%;
    padding: 9px 4px;
    border: none;
    background: #e1e3e0;
}

#local-pesquisa:focus{
    border: transparent;
    outline: 0;
}

.botao-pesquisar{
    width: 35%;
    padding: 9px 4px;
    background-color: #2e245e;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 80%;
}

.botao-pesquisar:hover{
    opacity: 100%;
}

.carrinho-compras{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.carrinho-compras>h3{
    text-align: center;
    background-color: #37268c;
    color: #e1e3e0;
    font-size: medium;
    width: 100%;
}

.carrinho-vazio{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.carrinho-vazio>h4{
    margin: 0;
}

.carrinho-vazio>p{
    margin: 0;
    font-size: small;
}




/*Carrinho de compras com itens*/
.carrinho-com-itens{
    background-color: #e1e3e0;
    height: 250px;
    overflow-y: auto;
}
.card-pequeno{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    margin: 10px 0;
}

.card-pequeno>img{
    max-width: 160px;
    width: 75px;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    background-color: #e1e3e0;
    margin: 0px 10px;
}
.mini-detalhes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}
.mini-produto{
    margin: 0;
}
#remover-produto{
    font-size: 15px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    background-color: #2e245e;
    color: #e1e3e0;
}

#remover-produto:hover{
    filter: brightness(120%);
}


.contagem-carrinho{
    background-color: #292929;
    color: #e1e3e0;
    font-size: small;
    font-weight: 100;
    width: 100%;
    height: 90px;
}

.quantidade, .valor{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 5px 3px 5px;
}

.finalizar{
    background-color: #37268c;
    border: none;
    padding: 5px 0;
    color: #e1e3e0;
    cursor: pointer;
    filter: brightness(80%);
}

.finalizar:hover{
    filter: brightness(100%);
}

footer{
    display: flex;
    margin-top: 10px;
    background-color: #292929;
    color: #e1e3e0;
    width: 100%;
    height: 150px;
}






@media (max-width: 580px) {
    article{
        flex-direction: column;
        gap: 10px;
    }
  }